/* Custom styling and Halfmoon Overrides */

/* :root { */
    /* --sidebar-width: 20rem; */
/* } */

#board, #gameStatus {
    width: calc(36rem + 2px);
}

#board {
    aspect-ratio: 1/1;

}

#board > div {
    aspect-ratio: 3/1;
}

#board img {
    filter: invert(10%) sepia(0%) saturate(0%) hue-rotate(37deg) brightness(103%) contrast(89%);
}

.x-icon {
    width: 75%;
}

.navbar-brand {
    text-align: center;
    margin: 0 !important;
}

.content-wrapper {
    left: 0 !important;
    width: 100% !important;
}

#gameStatus > h2 {
    font-size: 3rem;
}